#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
}
.table th, .table td {
  padding: 1rem;
  border: 1px solid white;
}

.extras {
  text-align: center;
  padding: 2rem;
}

.extras p{
  text-align: center;
  border: 1px solid white;
  padding: 2rem;
  border-radius: 8px;
}

.revenues{
  text-align: center;
  border: 1px solid white;
  border-radius: 12px;
  padding: 1rem;
}

.quantities{
  text-align: center;
  border: 1px solid white;
  border-radius: 12px;
  padding: 1rem;
}


.card {
  text-align: center;
  border-radius: 12px;
}

.error {
  color: red;
}

.read-the-docs {
  color: #888;
}

.selector {
  font-size: 1rem;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  color: black;
  border-radius: 12px;
}

.selector::file-selector-button {
  background-color: gold;
  color: black;
  border-radius: 6px;
}