:root {
  font-family: 'JetBrains Mono', 'Fira Code', 'Consolas', 'Monaco', monospace;

  color: white;
  background-color: midnightblue;
}

body {
  padding: 2rem;
  margin: 2rem;
  place-items: center;
}
