:root {
  font-family: 'Times New Roman', Times, serif;

  color-scheme: black;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 2rem;
  margin: 2rem;
  place-items: center;
}
